@import "colors.scss";
@import "variables.scss";
@import "animations.scss";

.modal-container {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5 !important;

    &:after {
        content: "";
        background: radial-gradient(at center center, rgba(0, 0, 0, 0.1) 0%, rgba(20, 20, 20, 0.5) 100%);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .modal-body-content {
        position: relative;
        display: block;
        background: #ffffff;
        opacity: 1;
        animation: $open-animation;
        box-shadow: $box-shadow;
        z-index: 10000;
        border-radius: $border-radius;
        padding: 20px 0;

        nav.navbar.navbar-dark {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            position: relative;
            bottom: 20px;

            span.navbar-text {
                color: #ffffff;
                font-weight: 700;
                font-size: 20px;
                text-transform: uppercase;
            }
        }

        .close-icon {
            position: absolute;
            top: 0;
            right: 10px;
            height: 60px;
            display: flex;
            align-items: center;
            transition: color 150ms ease-in-out;
            z-index: 10001;
            cursor: pointer;
            color: #ffffff;

            &:hover {
                color: $red;
            }
        }
    }
}
