.modal-container {
    top: 0;
    left: 0;
    background: radial-gradient(at center center, rgba(0, 0, 0, 0.1) 0%, rgba(20, 20, 20, 0.5) 100%);;
    z-index: 5 !important;

    .modal-body {

    }
}
