<form [formGroup]="optionsForm" class="col-12">
    <div class="row d-flex justify-content-start">
        <cpk-date-control class="col-2" label="Data od" formControlName="data-od"></cpk-date-control>
        <cpk-date-control class="col-2" label="Data do" formControlName="data-do"></cpk-date-control>
    </div>
    <div class="row d-flex">
        <cpk-radio-control formControlName="typ-daty"
                           optionKeyName="key"
                           optionValueName="value"
                           [dataset]="dateTypeDataset"
                           class="col-6"
                           label="Parametr określający jakiej daty dotyczy warunek wyszukiwania"></cpk-radio-control>
        <cpk-boolean-radio-control formControlName="tylko-zarejestrowane" class="col-6" label="Czy mają zostać zwrócone dane tylko pojazdów zarejestrowanych"></cpk-boolean-radio-control>
    </div>
</form>
