<form [formGroup]="optionsForm" class="col-12 d-flex justify-content-center flex-column align-items-center">
    <div class="row d-flex justify-content-center col-12">
        <cpk-date-control class="col-6" label="Data od" formControlName="data-od"></cpk-date-control>
        <cpk-date-control class="col-6" label="Data do" formControlName="data-do"></cpk-date-control>
    </div>
    <div class="row d-flex col-12">
        <cpk-radio-control formControlName="typ-daty"
                           optionKeyName="key"
                           optionValueName="value"
                           [dataset]="dateTypeDataset"
                           class="col-6"
                           label="Parametr określający jakiej daty dotyczy warunek wyszukiwania">
        </cpk-radio-control>
        <cpk-boolean-radio-control formControlName="tylko-zarejestrowane"
                                   class="col-6"
                                   label="Czy mają zostać zwrócone dane tylko pojazdów zarejestrowanych">
        </cpk-boolean-radio-control>
    </div>
    <cpk-button class="mt-3" type="primary" (click)="onQuerySubmit()"><cpk-icon class="mr-1">done</cpk-icon>Zatwierdź</cpk-button>
</form>
