<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" routerLink="./">CEPiK UI</a>
    <button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarTogglerDemo02" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item clickable">
                <a [routerLinkActiveOptions]="{ exact: true }" class="nav-link" routerLink="./" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item clickable" routerLink="vehicles" routerLinkActive="active">
                <a class="nav-link">Pojazdy</a>
            </li>
            <li class="nav-item clickable">
                <a class="nav-link" href="#">Prawa jazdy</a>
            </li>
            <li class="nav-item clickable">
                <a class="nav-link" href="#">Uprawnienia</a>
            </li>
            <li class="nav-item clickable">
                <a class="nav-link" href="#">Statystyki</a>
            </li>
        </ul>
    </div>
</nav>
