<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold" routerLink="./">CEPiK UI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item clickable">
                <a class="nav-link" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item clickable" routerLink="vehicles" routerLinkActive="active">
                <a class="nav-link">Pojazdy</a>
            </li>
            <li class="nav-item clickable">
                <a class="nav-link" href="#">Prawa jazdy</a>
            </li>
            <li class="nav-item clickable">
                <a class="nav-link" href="#">Uprawnienia</a>
            </li>
            <li class="nav-item clickable">
                <a class="nav-link" href="#">Statystyki</a>
            </li>
            <li class="nav-item clickable" routerLink="dictionaries" routerLinkActive="active">
                <a class="nav-link">Słowniki</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" name="phrase" placeholder="Wyszukaj" title="Wyszukaj" [(ngModel)]="phrase">
            <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)="onSearch()">Wyszukaj</button>
        </form>
    </div>
</nav>
