<div class="container-xl mt-4">
    <div class="form-group">
        <label for="dictionary-select">Wybierz słownik</label>
        <select class="form-control" id="dictionary-select" [value]="selectedCategory$ | async" (change)="onCategorySelect($event.target.value)">
            <option *ngFor="let def of dictionariesDef$ | async" [value]="def.id">{{ def.id }}</option>
        </select>
    </div>
    <table class="table mt-4">
        <caption>Łącznie rekordów: {{ numberOfDictionaryItems$ | async }}</caption>
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Klucz</th>
            <th scope="col">Wartość słownikowa</th>
            <th scope="col">Liczba wystąpień</th>
        </tr>
        </thead>
        <tbody *ngIf="dictionaryItems$ | async as dictionaryItems">
            <tr *ngFor="let item of dictionaryItems; let i = index;">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ item["klucz-slownika"] }}</td>
                <td>{{ item["wartosc-slownika"] }}</td>
                <td>{{ item["liczba-wystapien"] }}</td>
            </tr>
            <tr>
                <td *ngIf="!dictionaryItems.length" [colSpan]="4" class="text-center">Brak danych</td>
            </tr>
        </tbody>
    </table>
    <cpk-paginator (pageChange)="onPageChange($event)" (limitChange)="onLimitChange($event)"></cpk-paginator>
</div>
