<div [class]="'position-fixed alert alert-'+toastOptions.type">
    <cpk-icon (click)="onClose()" class="x clickable" title="Zamknij komunikat">close</cpk-icon>
    <h4 *ngIf="toastOptions.title" class="alert-heading"><strong>{{ toastOptions.title }}</strong></h4>
    <p *ngIf="toastOptions.message">{{ toastOptions.message }}</p>

    <ng-container *ngIf="toastOptions.type === 'danger'">
        <hr>
        <cpk-button type="dark"><cpk-icon>refresh</cpk-icon>Spróbuj ponownie</cpk-button>
    </ng-container>
</div>
