<form [formGroup]="filersForm" class="col-12 d-flex justify-content-center flex-column align-items-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">

        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex">

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="mt-3">
                <cpk-button (click)="onFilterSubmit()" type="primary">
                    <cpk-icon class="mr-1">done</cpk-icon>
                    Zatwierdź
                </cpk-button>
                <cpk-button (click)="onFilterReset()" class="mr-1" type="danger">
                    <cpk-icon class="mr-1">clear</cpk-icon>
                    Wyczyść
                </cpk-button>
            </div>
        </div>
    </div>
</form>
