@import "colors.scss";
@import "transitions.scss";

.options-button {
    position: relative;
    top: 6px;
}

.table td, .table th {
    cursor: pointer;
}

.table tr {
    @include color-transition();

    &:hover {
        background: #f8f9fa;
        color: $blue;
    }
}
