@import "colors.scss";

.options-button {
    position: relative;
    top: 6px;
}

.table td, .table th {
    cursor: pointer;
}

.table tr {
    transition: color 150ms ease-in;

    &:hover {
        background: #f8f9fa;
        color: $blue;
    }
}
