<div class="form-group">
    <label>{{ label }}</label>
    <div class="form-check" [class.disabled]="_disabled">
        <input [disabled]="_disabled" class="form-check-input" type="radio" name="radio" id="radioTrue" [value]="true" [checked]="_value" (change)="setValue($event.target.value)">
        <label class="form-check-label" for="radioTrue">Tak</label>
    </div>
    <div class="form-check" [class.disabled]="_disabled">
        <input [disabled]="_disabled" class="form-check-input" type="radio" name="radio" id="radioFalse" [value]="false" [checked]="!_value" (change)="setValue($event.target.value)">
        <label class="form-check-label" for="radioFalse">Nie</label>
    </div>
</div>
