<div class="input-group">
    <input #input (change)="writeValue($event.target.value)" [placeholder]="label" [value]="_value"
           class="form-control">
    <datalist #datalist *ngIf="dataList">
        <option *ngFor="let item of dataList" [label]="item[valueKey] + ' (' + item[counterKey] + ')'"
                [value]="item[valueKey]">
    </datalist>
    <div class="input-group-append">
        <button (click)="onReset()" [class.disabled]="isEmpty" [disabled]="isEmpty" class="btn btn-danger"
                title="Wyczyść">
            <cpk-icon>close</cpk-icon>
        </button>
    </div>
</div>
