.loader-container {
    background: radial-gradient(at center center, rgba(0, 0, 0, 0.1) 0%, rgba(20, 20, 20, 0.5) 100%);
    left: 0;
    top: 0;
    z-index: 5 !important;

    .loader {
        height: 100vh;

        .car {
            &__body {
                animation: shake 0.2s ease-in-out infinite alternate;
            }

            &__line {
                animation: line 0.8s ease-in-out infinite;
                animation-fill-mode: both;
                stroke-dasharray: 22;
                transform-origin: center;

                &--top {
                    animation-delay: 0s;
                }

                &--middle {
                    animation-delay: 0.2s;
                }

                &--bottom {
                    animation-delay: 0.4s;
                }
            }
        }

        .loader-caption {
            color: #002742;
        }
    }
}

@keyframes shake {
    0% {
        transform: translateY(-1%);
    }
    100% {
        transform: translateY(3%);
    }
}

@keyframes line {
    0% {
        stroke-dashoffset: 22;
    }

    25% {
        stroke-dashoffset: 22;
    }

    50% {
        stroke-dashoffset: 0;
    }

    51% {
        stroke-dashoffset: 0;
    }

    80% {
        stroke-dashoffset: -22;
    }

    100% {
        stroke-dashoffset: -22;
    }
}
