<div class="form-group">
    <label>{{ label }}</label>
    <div *ngFor="let item of dataset; let i = index" [class.disabled]="_disabled" class="form-check">
        <input (change)="setValue($event.target.value)"
               [checked]="item[optionValueName] === _value"
               [disabled]="_disabled"
               [id]="'radio'+i"
               [value]="item[optionValueName]"
               class="form-check-input"
               name="radio"
               type="radio">
        <label [for]="'radio'+i" class="form-check-label">{{ item[optionKeyName] }}</label>
    </div>
</div>
